*{
	margin: 0;
	padding: 0;
	font-family: PFSquareSans, sans-serif;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.banner{
		width: 100%;
		height: 100vh;
		background-image: url(assets/DarkWatersBubbles.png);
        background-size: cover;
        background-position: center;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

h1{
    color: white;
    position: relative;
    display: inline;
    text-align: left;
    font-size: 120px;
    top:30%;
    right:30%;
    white-space:nowrap;
}

h2{
    color: white;
    position: absolute;
    display: inline;
    text-align: left;
    font-size: 20px;
    top:50%;
    left:6%;
    white-space: normal;
    width:1000px;
    font-weight:normal;
}

h4{
    color: white;
    position: absolute;
    display: inline;
    text-align: right;
    font-size: 20px;
    top:95%;
    left:95%;
    white-space:nowrap;
    font-weight:normal;
}

.about{
    position: relative;
    display:flex;
    justify-content: flex-end;
    top: 9%;
    left: 5%;
    width: 90%;
    height: 90%;
}
 .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: steelblue;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidebar div {
      padding: 8px 8px 8px 30px;
      font-size: 24px;
      display: block;
      transition: 0.5s;
      cursor: pointer;
      color: white;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      color: white;
    }

    .openbtn {
      font-size: 24px;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border-color: transparent;
      position: relative;
      left: 30px;
      top: -700px;
    
    }

    #main {
      transition: margin-left .5s;
    }

/* unvisited link */
a:link {
  color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: darkgrey;
    text-decoration: none;

}

/* selected link */
a:active {
  color: white;
    text-decoration: none;
}
