*{
	margin: 0;
	padding: 0;
	font-family: PFSquareSans, sans-serif;
}

.banner{
		width: 100%;
		height: 100vh;
		background-image: url(assets/DarkWatersBubbles.png);
        background-size: cover;
        background-position: center;
}

h1{
  font-weight:normal;
}

.paru{
    width:120px;
}

.main{
    width:100%;
    position:absolute;
    top:30%;
    transform:translateY(-50%);
    text-align:center;
    color:azure;
    font-family: "PFSquareSans";
}
.main{
    font-size:20px;
    margin-top: 80px;
    letter-spacing: 4px
}

.links{
    position: relative;
    display: flex;
    top:57%;
    justify-content: center;
}
.twitter{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
}
.twitter:hover {
    color: #ddebf3;
}

.steam{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
}
.steam:hover {
    color: #ddebf3;
}

.banana{
    background-color: transparent;
    border: none;
    border-radius: 20%
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
}
.banana:hover {
    opacity: 0.7;
}

.switch{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
}

.switch:hover {
    opacity: 0.7;
}

.kirb{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width:50px;
    height:50px;
}

.kirb:hover {
    opacity: 0.7;
}

.spin {
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.spin video {
    object-fit: contain;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide vertical scrollbar */
}
  
 .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: steelblue;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidebar div {
      padding: 8px 8px 8px 30px;
      font-size: 24px;
      display: block;
      transition: 0.5s;
      cursor: pointer;
      color: white;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      color: white;
    }

    .openbtn {
      font-size: 24px;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border-color: transparent;
      position: relative;
      left: 30px;
      top: -30px;
    
    }

    #main {
      transition: margin-left .5s;
    }

/* unvisited link */
a:link {
  color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: darkgrey;
    text-decoration: none;

}

/* selected link */
a:active {
  color: white;
    text-decoration: none;
}
